.title img{
    max-width: 250px;
}

#incon-selector{
    margin-left: 20px;
}

main{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.box{
    width: 240px;
    height: 125px;
    margin: 20px;
    margin-bottom: 50px;
}