

body{
    background-color: rgba(221,221,221,255);  
}

/* .title{
    background-color: rgba(41,177,221,255);
} */

.title img{
    max-width: 250px;
}

#incon-selector{
    margin-left: 20px;
}

main{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.box{
    width: 240px;
    height: 125px;
    margin: 20px;
    margin-bottom: 50px;
    border-radius: 15px;
    border: 1px solid black;
}